# Dashboard - Badkamerafzuiging - itho          -*- hass -*-

[% device = "itho_cve_s" %]

type: vertical-stack
title: false

cards:

- type: conditional
  conditions:
    - entity: switch.afzuiging
      state: "on"

  card:

    type: entities
    title: Badkamerafzuiging
    show_header_toggle: false
    entities:

      - type: custom:multiple-entity-row
        entity: switch.afzuiging
        name: Master
        icon: mdi:fan-off
        secondary_info:
          entity: sensor.afzuiging_energy_today
          name: Dagverbruik

      - entity: fan.[% device %]
        name: CVE-S

      - entity: sensor.[% device %]_fan_speed
        type: custom:multiple-entity-row
        name: Afzuiging
        show_state: false
        entities:
          - entity: sensor.[% device %]_fan_info
            name: false
          - entity: sensor.[% device %]_fan_speed
            name: false
        secondary_info:
          entity: sensor.[% device %]_fan_setpoint
          name: instelling

      - entity: sensor.[% device %]_temperature
        type: custom:multiple-entity-row
        name: Temperatuur
        icon: mdi:thermometer
        show_state: false
        entities:
          - entity: sensor.[% device %]_temperature
            name: false
            format: precision1
          - entity: sensor.[% device %]_humidity
            name: false
            format: precision0
        secondary_info: CVE-S

      - entity: sensor.badkamer_temperature
        type: custom:multiple-entity-row
        name: Temperatuur
        icon: mdi:thermometer
        show_state: false
        entities:
          - entity: sensor.badkamer_temperature
            name: false
            format: precision1
          - entity: sensor.badkamer_humidity
            name: false
            format: precision0
        secondary_info: Badkamer
            
      # - entity: sensor.[% device %]_humidity_ppmw
      #   name: Humidity
      #   icon: mdi:water-percent

      - entity: input_boolean.[% device %]_humidity_sensor
        name: Vochtsensor

      - type: conditional
        conditions:
          - entity: input_boolean.[% device %]_humidity_sensor
            state: "on"
        row:
            entity: input_number.[% device %]_humidity_threshold
            name: Vochtdrempel
            icon: mdi:ray-vertex

#      - entity: sensor.[% device %]_fan_info
#        name: Mode
#        icon: mdi:fan

      - entity: number.[% device %]_fan_demand
        name: Fan Speed

      # - entity: sensor.[% device %]_fan_speed
      #   name: Fan Speed
      #   type: custom:multiple-entity-row
      #   show_state: false
      #   entities:
      #     - entity: sensor.[% device %]_fan_info
      #       name: false
      #     - entity: sensor.[% device %]_fan_speed
      #       name: false
      #   secondary_info:
      #     entity: sensor.[% device %]_fan_setpoint
      #     name: Instelling


#      - entity: sensor.[% device %]_fan_setpoint
#        name: Fan Setpoint
#
#      - entity: sensor.[% device %]_ventilation_setpoint
#        name: Ventilation Setpoint

      # - entity: sensor.[% device %]_speed_status
      #   name: Speed Status

      # - type: conditional
      #   conditions:
      #     - entity: sensor.[% device %]_remaining_time
      #       state_not: "0"
      #   row:
      #     entity: sensor.[% device %]_remaining_time
      #     name: Fan Timer



- type: conditional
  conditions:
    - entity: switch.afzuiging
      state: "off"
  card:
    type: entities
    title: Badkamerafzuiging
    show_header_toggle: false
    entities:
      - entity: switch.afzuiging
        name: Master
        icon: mdi:fan-off

- type: conditional
  conditions:
    - entity: switch.afzuiging
      state: unavailable
  card:
    type: markdown
    content: |
        <ha-alert alert-type="error">Badkamerafzuiging offline</ha-alert>
